<!--
The base HTMl file will operate as the main template for our website.
You can have different "base" files, but for this app(blog), our base
will show list's of different models.

The template will specify area's where other templates can fill in.

Blocks in Django follow a pattern. The opener contains curly braces({})
with modulo(%) inside. following this the keyword block and the blocks
name. You simply need to close the block with an endblock keyword.

Further readings in the notes.
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %} Welcome to my Blog {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>Blog</a>
        </li>
        <li>
          <a>Resume</a>
        </li>
        <li>
          <a>Portfolio</a>
        </li>
        <li>
          <a>GitHub</a>
        </li>
      </ul>
    </nav>
    <h1>{% block title %} Welcome to my Blog{% endblock %}</h1>
    {% block content %}

    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
