<!--
The base HTMl file will operate as the main template for our website.
You can have different "base" files, but for this app(blog), our base
will show list's of different models.

The template will specify area's where other templates can fill in.

Blocks in Django follow a pattern. The opener contains curly braces({})
with modulo(%) inside. following this the keyword block and the blocks
name. You simply need to close the block with an endblock keyword.

Further readings in the notes.
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %} Welcome! {% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav class="nav-wrapper purple darken-1">
      <ul class="">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <!--
          We will need an app for both our resume and portfolio.
          These two links won't have a target until that get's worked on.
        -->
          <a href="">Resume</a>
        </li>
        <li>
          <a href="">Portfolio</a>
        </li>
        <li>
          <a href="https://github.com/Yzof">GitHub</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <h1>{% block title %}<span>Welcome!</span>{% endblock %}</h1>

      {% block content %}

      {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  </body>
</html>
